*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(iphone.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size:500px;
}


.sider{
    
    margin:0 auto;
    height: 75px;
    width:212px;
    margin-top: 30px;
    background-color: #40b034;
    
}

.upitem{
   display: flex;
   justify-content: space-evenly;
   font-size: 23px;
   padding-top: 18px;
}

.margin{
    border-radius: 48%;
    height: 25px;
    text-align: center;
    width: 30px;
    background-color: #40b034;
    
}

.fa-user-circle, .fa-map-marker, .fa-list-alt{
    color: white;
}

.steps{
    display: flex;
    font-size: 12px;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-left: 8px;
    font-weight: bolder;
}

.lines::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background:#40b034;
    transition: width .3s;
}

.lines:hover::after{
    width: 100%;
    transition: width .3s;
}

.searchbox{
  height: 25px;
  background-color: white;
  width: 198px;
  position:absolute;
  margin-top: 15px;
  margin-left: 8px;
  border-radius: 10px;
}

input{
    width: 50%;
    padding-left: 5px;
    font-size: 12px;
}

.search-txt{
    border: none;
    outline: none;
    background: none;
    line-height: 25px;
}

.searchbtn{
    padding-left: 8px;
    font-size: 11px;
    
}

.click{
    height: 25px;
    background-color: #40b034;
    width:60px;
    outline: none;
    border: none;
    margin-left: 9px;
    border-radius: 10px;
    font-size: 11px;
}

@media (max-width:768px){
    .click{
        margin-left: 6px;
    }
}

.col{
    color: white;
}

iframe{
    width: 210px;
    height: 80px;
    padding-top: 40px;
}

.state{
    display: flex;
    margin-top: 10px;
    font-size: 13px;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bolder;
}

.select{
    margin-top: 3px;
    display: flex;
    justify-content: center;
}



select{
    appearance: none;
    outline: none;
    box-shadow: none;
    background: #ECF8E0;
    border: none;
    border-bottom: 1px solid #40b034;
    padding-bottom: 3px;
    cursor: pointer;
}

.ebtn{
    margin-top: 8px;
}


.lbtn{
    padding: 3px;
    border-radius: 5px;
    background: #40b034;
    font-size: 12px;
    height: 25px;
    color: white;
    outline: none;
    cursor: pointer; 
    margin-left: 5px;
}

.rbtn{
    padding: 5px;
    border-radius: 5px;
    background: #40b034;
    font-size: 12px;
    height: 25px;
    color: white;
    outline: none;
    cursor: pointer; 
    margin-left: 95px;
}


ul{
   display: flex;
}

li{
    list-style: none;
    font-family: sans-serif;

}

.aps{
    margin-left: 18px;
    margin-top: 40px;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 0.8;
}

.bell{
    margin-top: 37px;
    margin-left: 70px;
    font-size: 16px;
}

.bar{
    margin-left: 12px;
    margin-top: 37px;
    
}

.bar, a{
    color: black;
}


.content{
    
    height: 320px;
    width: 209px;
    margin: 0 auto;
    background-color: #ECF8E0;
}


a{
    text-decoration: none;
    
}

.items{
    display: flex;
}

.items li{
    margin-top: 13px;
    margin-left: 4px;
    font-size: 20px;
}

.fa-home{
    border-radius: 48%;
    background-color: #40b034 ;
    height: 25px;
    text-align: center;
    width: 30px;
    color: wheat;
    
} 

.fa-recycle, .fa-thumbs-up, .fa-wrench, .fa-envelope, .fa-inbox{
    border-radius: 48%;
    background-color: #40b034 ;
    height: 25px;
    text-align: center;
    padding-top: 2px;
    width: 30px;
    color: wheat;
    opacity: 0.8;
}


.foot{
    background-color:#40b034 ;
    margin: 0 auto;
    height: 48px;
    width: 210px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}


